Repository hustcer/setup-nu: changes, and which lefthook commands are due for each by the changed paths.
All: spell-check, eslint, fmt

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

min_version: 1.7.12
skip_output:
  - meta              # Skips lefthook version printing
  - skips             # Skips "skip" printing (i.e. no files matched)
  - summary           # Skips summary block (successful and failed steps) printing
  - success           # Skips successful steps printing
  - failure           # Skips failed steps printing
  - execution_info    # Skips printing `EXECUTE > ...` logging
pre-push:
  scripts:
    'sync.sh':
      runner: sh
      use_stdin: true

pre-commit:
  parallel: true
  commands:
    spell-check:
      skip:
        - merge
        - rebase
      stage_fixed: true
      glob: "*.*"
      run: pnpm cspell --no-progress {staged_files}
    eslint:
      skip:
        - merge
        - rebase
      stage_fixed: true
      glob: "*.{ts,tsx,js,jsx,es,cjs,mjs}"
      run: pnpm biome lint --fix {staged_files}
    fmt:
      skip:
        - merge
        - rebase
      stage_fixed: true
      glob: "*.{ts,tsx,js,jsx,es,cjs,mjs}"
      run: pnpm biome format --write --no-errors-on-unmatched {staged_files}

chore: Add cspell check hook for lefthook (#116)
  cspell.yml
  lefthook.yml
  nu/release.nu
  package.json
  pnpm-lock.yaml
  src/setup.ts
Due: spell-check, eslint, fmt

chore: Update .github/workflows/milestone.yaml
  .github/workflows/milestone.yaml
Due: spell-check

Remove .eslintignore and .eslintrc.json
  .eslintignore
  .eslintrc.json
Due: spell-check

deps: Upgrade cspell and lefthook
  package.json
  pnpm-lock.yaml
Due: spell-check

deps: Upgrade cspell and lefthook (#117)
  package.json
  pnpm-lock.yaml
Due: spell-check

chore: Re-generate dist/index.js
  dist/index.js
  src/plugins.ts
Due: spell-check, eslint, fmt

Bump to v3.16
  CHANGELOG.md
  package.json
Due: spell-check

deps: Upgrade @vercel/ncc,cspell,lefthook and typescript
  dist/index.js
  package.json
  pnpm-lock.yaml
Due: spell-check, eslint, fmt

deps: Upgrade cspell and lefthook to latest version
  .github/workflows/latest-matrix.yaml
  README.md
  README.zh-CN.md
  package.json
  pnpm-lock.yaml
Due: spell-check

Update LICENSE
  LICENSE
Due: none

deps: Upgrade @octokit/rest,lefthook and typescript
  dist/index.js
  package.json
  pnpm-lock.yaml
Due: spell-check, eslint, fmt

chore: Add more debug info
  dist/index.js
  src/setup.ts
Due: spell-check, eslint, fmt

chore: Cleanup workflows
  .github/workflows/basic.yaml
  .github/workflows/main-matrix.yaml
  .github/workflows/module-test2.yaml
  .github/workflows/run-test.yaml
Due: spell-check

chore: Cleanup workflows (#119)
  .github/workflows/basic.yaml
  .github/workflows/main-matrix.yaml
  .github/workflows/module-test2.yaml
  .github/workflows/run-test.yaml
Due: spell-check

ci skip
  .github/workflows/basic.yaml
  .github/workflows/build.yaml
  .github/workflows/full-matrix.yaml
  .github/workflows/main-matrix.yaml
  .github/workflows/module-test.yaml
  .github/workflows/release-matrix.yaml
  .github/workflows/use-nightly.yaml
  README.md
  README.zh-CN.md
Due: spell-check

desp: Upgrade cspell,lefthook and @actions/tool-cache
  dist/index.js
  package.json
  pnpm-lock.yaml
Due: spell-check, eslint, fmt

chore: Add example to use Modules by NU_LIB_DIRS Constant
  .github/workflows/module-test.yaml
Due: spell-check

chore: Try to fix build workflow
  .github/workflows/build.yaml
  .github/workflows/use-nightly.yaml
Due: spell-check

chore: Add use Nu Modules by setting NU_LIB_DIRS Constant example
  .github/workflows/module-test.yaml
  README.md
  README.zh-CN.md
Due: spell-check

chore: Add ubuntu-22.04-arm runner test
  .github/workflows/main-matrix.yaml
  .github/workflows/release-matrix.yaml
Due: spell-check

chore: Add ubuntu-22.04-arm runner test (#122)
  .github/workflows/main-matrix.yaml
  .github/workflows/release-matrix.yaml
Due: spell-check

Bump v3.17 for Chinese New Year
  CHANGELOG.md
  package.json
Due: spell-check

chore: Add AI code review by using hustcer/deepseek-review
  .github/workflows/cr.yml
  cspell.yml
Due: spell-check

[ci skip]
  pnpm-lock.yaml
Due: spell-check

deps: Upgrade cspell and semver
  package.json
Due: spell-check

deps: Upgrade cspell and semver (#124)
  package.json
Due: spell-check

skip cr
  dist/index.js
Due: spell-check, eslint, fmt

skip cr (#125)
  dist/index.js
Due: spell-check, eslint, fmt

Polish docs
  .github/workflows/cr.yml
  README.md
  cspell.yml
Due: spell-check

refactor: Refactor compare-ver common custom command
  nu/common.nu
Due: spell-check

refactor: Refactor compare-ver common custom command (#126)
  nu/common.nu
Due: spell-check

doc: Format README
  README.zh-CN.md
Due: spell-check

doc: Format README
  README.md
Due: spell-check

doc: Update README.md docs (#127)
  README.md
  README.zh-CN.md
Due: spell-check

deps: Upgrade semver,@octokit/rest and @types/node
  dist/index.js
  package.json
  pnpm-lock.yaml
Due: spell-check, eslint, fmt

deps: Upgrade @types/node,cspell and lefthook
  package.json
  pnpm-lock.yaml
Due: spell-check

chore: Rebuild setup scripts
  dist/exec-child.js
  dist/index.js
Due: spell-check, eslint, fmt

Bump to v3.18
  CHANGELOG.md
  package.json
Due: spell-check
