Repository hustcer/setup-nu: changes, and which lefthook commands are due for each by the changed paths.
All: spell-check, eslint, fmt

spell-check:
  skip:
  - merge
  - rebase
  stage_fixed: true
  run: pnpm cspell --no-progress {staged_files}

eslint:
  skip:
  - merge
  - rebase
  stage_fixed: true
  run: pnpm biome lint --fix {staged_files}

fmt:
  skip:
  - merge
  - rebase
  stage_fixed: true
  run: pnpm biome format --write --no-errors-on-unmatched {staged_files}

feat: add strict input validation and robust plugin registration; improve target selection and caching (#189)
  dist/index.js
  src/index.ts
  src/plugins-tpl.ts
  src/plugins.ts
  src/setup.ts
Due: spell-check, eslint, fmt

feat: add strict input validation and robust plugin registration; improve target selection and caching (#190)
  dist/index.js
  src/index.ts
  src/plugins-tpl.ts
  src/plugins.ts
  src/setup.ts
Due: spell-check, eslint, fmt

chore: Update README.md
  README.md
Due: spell-check

chore: Drop 0.88.1 check
  .github/workflows/full-matrix.yaml
Due: spell-check

deps: Upgrade @biomejs/biome,lefthook & cspell
  package.json
  pnpm-lock.yaml
Due: spell-check

ci skip
  .github/workflows/full-matrix.yaml
Due: spell-check

deps: Upgrade @biomejs/biome,lefthook & cspell (#193)
  .github/workflows/full-matrix.yaml
  package.json
  pnpm-lock.yaml
Due: spell-check

chore: Update README
  README.md
  README.zh-CN.md
Due: spell-check

chore: Update lefthook.yml
  lefthook.yml
Due: spell-check

feat: support proxies
  package.json
  pnpm-lock.yaml
  src/setup.ts
Due: spell-check, eslint, fmt

fix: remove redundant timeouts
  src/setup.ts
Due: spell-check, eslint, fmt

deps: Upgrade @actions/core & lefthook
  dist/index.js
  package.json
  pnpm-lock.yaml
Due: spell-check, eslint, fmt

chore: Upgrade runner os from macos-13 to macos-15
  .github/workflows/latest-matrix.yaml
Due: spell-check

fix: make proxy agent singleton and specify types
  src/setup.ts
Due: spell-check, eslint, fmt

feat: support proxies (#194)
  package.json
  pnpm-lock.yaml
  src/setup.ts
Due: spell-check, eslint, fmt

chore: Update dist & format code
  dist/index.js
  src/setup.ts
Due: spell-check, eslint, fmt

Add CLAUDE.md
  CLAUDE.md
Due: spell-check

fix: Validate inputs to prevent command injection
  .gitignore
  dist/index.js
  src/index.ts
  src/plugins-tpl.ts
  src/plugins.ts
Due: spell-check, eslint, fmt

fix: Added input validation for plugin registration to prevent injection vulnerabilities (#195)
  .gitignore
  dist/index.js
  src/index.ts
  src/plugins-tpl.ts
  src/plugins.ts
Due: spell-check, eslint, fmt

Bump to v3.22
  CHANGELOG.md
  package.json
Due: spell-check

deps: Upgrade globby,@biomejs/biome & lefthook
  dist/index.js
  package.json
  pnpm-lock.yaml
Due: spell-check, eslint, fmt

deps: Upgrade lefthook,cspell,@biomejs/biome,undici & @actions/*
  dist/index.js
  package.json
  pnpm-lock.yaml
Due: spell-check, eslint, fmt

deps: Upgrade undici to 7.19.0
  dist/index.js
  package.json
  pnpm-lock.yaml
Due: spell-check, eslint, fmt

Update Nu to 0.110.0 and remove 0.90.1 from tests
  .github/workflows/full-matrix.yaml
  .github/workflows/main-matrix.yaml
  .github/workflows/module-test.yaml
  .github/workflows/release-matrix.yaml
  README.md
  README.zh-CN.md
Due: spell-check

deps: Upgrade @actions/core,@actions/tool-cache,undici,lefthook & semver
  package.json
  pnpm-lock.yaml
Due: spell-check

deps: Upgrade @actions/core,@actions/tool-cache,undici,lefthook & semver
  dist/index.js
  dist/package.json
  package.json
  src/index.ts
  src/setup.ts
  tsconfig.json
Due: spell-check, eslint, fmt

deps: Upgrade @actions/core,@actions/tool-cache,undici,lefthook & semver
  Justfile
  dist/exec-child.cjs
  dist/index.js
  package.json
Due: spell-check, eslint, fmt

deps: Upgrade @actions/core,@actions/tool-cache,undici,lefthook & semver
  Justfile
  dist/index.js
Due: spell-check, eslint, fmt

deps: Upgrade @actions/core,@actions/tool-cache,undici,lefthook & semver
  Justfile
Due: none

fix: Use cross-platform Node.js script for sed replacement
  package.json
Due: spell-check

deps: Upgrade @actions/core,@actions/tool-cache,undici,lefthook & semver (#205)
  Justfile
  dist/exec-child.cjs
  dist/index.js
  dist/package.json
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/setup.ts
  tsconfig.json
Due: spell-check, eslint, fmt

feat: Add nu/build.nu for assets building
  nu/build.nu
  package.json
Due: spell-check

feat: Add nu/build.nu for assets building
  .github/workflows/build.yaml
  .github/workflows/use-nightly.yaml
Due: spell-check

feat: Add nu/build.nu for assets building (#206)
  .github/workflows/build.yaml
  .github/workflows/use-nightly.yaml
  nu/build.nu
  package.json
Due: spell-check

deps: Upgrade undici,@biomejs/biome,@types/node & lefthook
  dist/index.js
  package.json
  pnpm-lock.yaml
Due: spell-check, eslint, fmt

deps: Upgrade globby, @biomejs/biome & cspell
  .github/workflows/build.yaml
  .github/workflows/use-nightly.yaml
  dist/index.js
  package.json
  pnpm-lock.yaml
Due: spell-check, eslint, fmt

deps: Upgrade globby, @biomejs/biome & cspell (#212)
  .github/workflows/build.yaml
  .github/workflows/use-nightly.yaml
  dist/index.js
  package.json
  pnpm-lock.yaml
Due: spell-check, eslint, fmt

chore: Test install nushell-pro SKILL
  .github/workflows/build.yaml
  .github/workflows/use-nightly.yaml
Due: spell-check

Add Nu 0.111.0 to workflows
  .github/workflows/full-matrix.yaml
  .github/workflows/main-matrix.yaml
  .github/workflows/module-test.yaml
  .github/workflows/release-matrix.yaml
Due: spell-check

deps: Upgrade @biomejs/biome,lefthook & undici
  dist/index.js
  package.json
  pnpm-lock.yaml
Due: spell-check, eslint, fmt

Path conditions:
  spell-check: any of: *.*
  eslint: any of: *.{ts,tsx,js,jsx,es,cjs,mjs}
  fmt: any of: *.{ts,tsx,js,jsx,es,cjs,mjs}
